---
layout: default
title: "个人博客"
keywords: "blog,个人博客,个人网站"
description: "刘星河的个人博客"

city: 侯马
---

{% for post in paginator.posts %} 
  <div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.date | date: "%Y-%m-%d" }} by <a href="#">{{ post.author }}</a></p>

    <p>{{ post.excerpt }}</p>
    <p class="lead mb-0"><a href="{{ post.url }}" class="font-weight-bold">Continue reading...</a></p>
  </div>
{% endfor %}

<nav class="blog-pagination">
  {% if paginator.previous_page %}
  <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path }}">Older</a>
  {% endif %}
  {% if paginator.next_page %}
  <a class="btn btn-outline-secondary" href="{{ paginator.next_page_path }}">Newer</a>
  {% endif %}
</nav>	 