<!-- 底部 start -->
<footer class="blog-footer">
  <p>Blog template built for <a href="javascript:window.open('https://getbootstrap.com/');">Bootstrap</a> by <a href="javascript:window.open('https://twitter.com/mdo');">@mdo</a>.</p>
  <p id="sitetime"></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
<!-- 底部 end -->

<script type="text/javascript">
	function siteTime() {
        window.setTimeout("siteTime()", 1000);
        var seconds = 1000;
        var minutes = seconds * 60;
        var hours = minutes * 60;
        var days = hours * 24;

        var today = new Date();
        var todayYear = today.getFullYear();
        var todayMonth = today.getMonth();
        var todayDate = today.getDate();

        var t1 = Date.UTC(2016, 7, 8);
        var t2 = Date.UTC(todayYear, todayMonth, todayDate);
        var diff = t2 - t1;

        var diffDays = Math.floor(diff / days);
        document.getElementById("sitetime").innerHTML = diffDays + " 天 ";
    }

    siteTime();
</script>    
  </body>
</html>