---
layout: post
title:  "第19章 静态文件、模板、消息闪现与Jinja2"
keywords: "静态文件,模板,消息闪现,Jinja2"
description: "通过借助学习flask的模板来间接学习：列表推导式的应用、三元表达式的应用、@Property属性描述符、filter函数的应用、管道过滤器。"
date: 2020-12-27
category: python
---

<p>通过借助学习flask的模板来间接学习：列表推导式的应用、三元表达式的应用、@Property属性描述符、filter函数的应用、管道过滤器。</p>


<h2>静态文件访问原理</h2>
<p>新建app\static文件夹，里面存放静态文件。</p>
<p>资源下载站怎么实现判断积分，下载资源？</p>
<pre><code>
# app\web\book.py
@web.route()
def download('/download')
	if user.
	send_static_file
	pass
</code></pre>


<h2>模板文件的位置与修改方案</h2>
<p>模板文件html和静态文件一样既可以属于应用程序，也可以属于蓝图。static建议默认，模板文件建议选蓝图。</p>
<p>在蓝图新建，app\web\templates\xxx.html</p>

<h2>Jinja2的概念</h2>
<p>模板语言</p>
<p>主要看 jinjia.pocoo.org/docs/2.10/</p>
<p>Template Designer Documentation 模板设计文档</p>

<h3>在Jinja2中读取字典和对象</h3>
<p>使用‘.’操作符。</p>
<p>{# 注释 #}</p>


<h3>流程控制语句 if</h3>
<pre><code>
{% if data.age == 18 %}
	{{ data.name }}
{% endif %}
</code></pre>

<h3>流程控制语句 for in 循环</h3>
<pre><code>
{% for foo in [1,2,3] %}
	{{ foo }}
{% endfor %}
</code></pre>


<h3>使用模板继承</h3>
<p>layout.html</p>

<h3>过滤器与管道命令</h3>
<p>模板高级语</p>
<pre><code>
# 判断这个属性在data中不存在，则返回未名
{{ data.school | default('未名') }}
</code></pre>
<p>“|”的意思类似linux的管道命令，“|”前面的值，向后面下一个传递，类似管道。</p>
<pre><code>
{{ data | length() }}
</code></pre>

<h2>反向构建URL</h2>
<pre><code>
<link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
</code></pre>


<h3>消息闪现、SecretyKey与变量作用域</h3>

<h4>消息闪现 message flash</h4>
<pre><code>
# book.py
flash('hello, qiyue')
</code></pre>

<pre><code>
# test.html
{% set messages = get_flashed_messages() %}
{{ messages }}
</code></pre>

<h4>secrety key</h4>
<pre><code>
# secure.py
SECRET_KEY = 'f4*S@qfCi^!#Zr!ntCCDs92ew2!wazQS'
</code></pre>

<h4>变量作用域</h4>
<p>变量的作用域是 block 的。使用 with endwith 会使作用域变小。</p>

<h2>viewmodel意义的体现与filter函数的巧妙应用</h2>
<pre><code>
	# 把方法向属性那样调用"."
    @property
    def intro(self):
        intros = filter(lambda x: True if x else False,
                        [self.author, self.publisher, self.price])
        return ' / '.join(intros)
</code></pre>


<h2>自定义基类模型</h2>
<p>app\models\base.py</p>
<pre><code>
from app.models.base import Base
from sqlalchemy import Column, Integer, String, Boolean, Float


class User(Base):
    id = Column(Integer, primary_key=True)
    nickname = Column(String(24), nullable=False)
    phone_number = Column(String(18), unique=True)
    email = Column(String(50), unique=True, nullable=False)
    confirmed = Column(Boolean, default=False)
    beans = Column(Float, default=0)
    send_counter = Column(Integer, default=0)
    receive_counter = Column(Integer, default=0)
    wx_open_id = Column(String(50))
    wx_name = Column(String(32))
</code></pre>

<h2>模型与模型关系</h2>
<p>book.py</p>
<pre><code>
from sqlalchemy import Column, Integer, String
from app.models.base import Base


class Book(Base):
    # 数字，主键，自增长
    id = Column(Integer, primary_key=True, autoincrement=True)
    # 字符串，不能为空
    title = Column(String(50), nullable=False)
    # 默认值
    author = Column(String(30), default='未名')
    binding = Column(String(20))
    publisher = Column(String(50))
    price = Column(String(20))
    pages = Column(Integer)
    pubdate = Column(String(20))
    # 不能为空，且唯一
    isbn = Column(String(15), nullable=False, unique=True)
    summary = Column(String(1000))
    image = Column(String(50))

</code></pre>
<p>user.py</p>
<pre><code>
from app.models.base import Base
from sqlalchemy import Column, Integer, String, Boolean, Float


class User(Base):
    id = Column(Integer, primary_key=True)
    nickname = Column(String(24), nullable=False)
    phone_number = Column(String(18), unique=True)
    email = Column(String(50), unique=True, nullable=False)
    confirmed = Column(Boolean, default=False)
    beans = Column(Float, default=0)
    send_counter = Column(Integer, default=0)
    receive_counter = Column(Integer, default=0)
    wx_open_id = Column(String(50))
    wx_name = Column(String(32))
</code></pre>
<p>gift.py</p>
<pre><code>
from app.models.base import Base
from sqlalchemy import Column, Integer, String, Boolean, ForeignKey, SmallInteger
from sqlalchemy.orm import relationship


class Gift(Base):
    id = Column(Integer, primary_key=True)
    launched = Column(Boolean, default=False)
    user = relationship('User')
    uid = Column(Integer, ForeignKey('user.id'))
    # book = relationship('Book')
    # bid = Column(Integer, ForeignKey('book.id'))
    isbn = Column(String(15), nullable=False)
    status = Column(SmallInteger, )

</code></pre>