{% include header.html %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <hr>
      
      {% for post in site.categories.[page.category] %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">{{ post.date | date: "%Y-%m-%d" }} by <a href="#">{{ post.author }}</a></p>

        <p>{{ post.excerpt }}</p>
        <p class="lead mb-0"><a href="{{ post.url }}" class="font-weight-bold">Continue reading...</a></p>
      </div>
      {% endfor %}

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled">Newer</a>
      </nav>

    </div>

    {% include aside.html %}

  </div>

</main>

{% include footer.html %}
