{% include header.html %}

<div class="jumbotron p-4 p-md-5 text-white rounded" style="background-color: #0A242C;">
  <div class="container">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">刘星河 非著名金融学者</h1>
      <p class="lead my-3">如何成为有钱人？成为有钱人的唯一方法就是投资。投资就需要花很多时间去学习一些金融知识。</p>
      <p class="lead mb-0"><a href="#liuxinghe" class="text-white font-weight-bold">从这里开始</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
        <h2 id="liuxinghe" style="padding: 20px 0 30px;"> <span style="
border-style: solid;
border-top-width: 0;
border-left-width: 0;
border-right-width: 0; 
border-bottom-width: 10px;
border-bottom-color: #5BB85D !important;">　刘星河是谁？　</span></h2>
    </div>

    <div class="col-md-6">
      <img style="max-width: 100%;" src="https://img.alicdn.com/imgextra/i3/2465811727/O1CN015KRkJe1Od0nA7Rg3n_!!2465811727.png" class="img-responsive center-block" alt="刘星河 非著名金融学者">
    </div>
    <div class="col-md-6" style="margin-top: 30px; line-height: 2rem;">
      <p>刘星河是一名程序员、投资小白。</p>
      <p>2022年无意间看到【老高与小茉】的频道，其中两期，讲《钱》和《如何成为有钱人》。看了之后，我被震撼了，就是我对钱的概念突然发生了变化。</p>
      <p>《钱》讲得是钱是什么。钱就是信用，赚钱就是赚信用。</p>
      <p>《如何成为有钱人》讲得是《穷爸爸&富爸爸》这本书。成为有钱人的唯一方法就是投资。然而，99%看完这本书并没有成为有钱人，因为并没有继续去学习金融知识。</p>
      <p>所以，我想花很多时间去学习一些金融知识。</p>
      <p>我的座右铭：</p>
      <strong style="color:#A7B49B;">“穷人什么苦都能吃，就吃不了学习的苦；富人什么苦都不能吃，就能吃学习的苦！”</strong>
    </div>
  </div>
</div>

<div class="jumbotron p-4 p-md-5 text-white rounded" style="background-color: #0A242C;margin-top: 50px;font-size: 1.5rem;">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center" >
        <div><i class="bi-book" style="font-size: 7rem; color: green;"></i></div>
        <div>讲课内容</div>
        <div style="font-size: 2rem; color: green;">10</div>
      </div>
      <div class="col-sm-4 text-center">
        <div><i class="bi-people" style="font-size: 7rem; color: purple;"></i></div>
        <div>与会者</div>
        <div style="font-size: 2rem; color: purple;">70</div>
      </div>
      <div class="col-sm-4 text-center">
        <div><i class="bi-piggy-bank" style="font-size: 7rem; color: yellow;"></i></div>
        <div>经验丰富</div>
        <div id="days" style="font-size: 2rem; color: yellow;">0</div>
      </div>
      <script type="text/javascript">
        var s1 = '2022-05-21';//设置为你的建站时间
        s1 = new Date(s1.replace(/-/g, "/"));
        s2 = new Date();
        var days = s2.getTime() - s1.getTime();
        var number_of_days = parseInt(days / (1000 * 60 * 60 * 24));
        document.getElementById('days').innerHTML = number_of_days;
      </script>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
        <h2 style="padding: 50px 0 30px;"> <span style="
border-style: solid;
border-top-width: 0;
border-left-width: 0;
border-right-width: 0; 
border-bottom-width: 10px;
border-bottom-color: #5BB85D !important;">　博客文章　</span></h2>
    </div>
    {% for post in paginator.posts limit:3 %} 
    <div class="col-sm-4">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      {{ post.excerpt }}
      <p>{{ post.author }} | {{ post.date | date: "%Y-%m-%d" }}</p>
    </div>
    {% endfor %}
    <!-- <div class="col-sm-4">
      <h3><a href="">第二列</a></h3>
      <p>学的不仅是技术，更是梦想！</p>
      <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
      <p>刘星河 | 2022-10-05</p>
    </div>
    <div class="col-sm-4">
      <h3><a href="">第三列</a></h3>        
      <p>学的不仅是技术，更是梦想！</p>
      <p>再牛逼的梦想,也抵不住你傻逼似的坚持！</p>
      <p>刘星河 | 2022-10-05</p>
    </div> -->
    <div class="col-sm-12 text-center" style="padding-top: 30px;">
        <a href="/jinrong/" type="button" class="btn btn-success btn-lg">阅读所有文章</a>
    </div>
  </div>
</div>

{% include footer.html %}