{% include header.html %}

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="container">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">刘星河个人博客</h1>
      <p class="lead my-3">终有弱水替沧海，再无相思寄巫山。极目银河山海渺，漫天星梦欲曙天。</p>
      <p class="lead mb-0"><a href="/about.html" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
</div>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Latest Blog Posts
      </h3>

      {% for post in paginator.posts %} 
        <div class="blog-post">
          <h2 class="blog-post-title">{{ post.title }}</h2>
          <p class="blog-post-meta">{{ post.date | date: "%Y-%m-%d" }} by <a href="#">{{ post.author }}</a></p>

          <p>{{ post.excerpt }}</p>
          <p class="lead mb-0"><a href="{{ post.url }}" class="font-weight-bold">Continue reading...</a></p>
        </div>
      {% endfor %}

      <nav class="blog-pagination">
        {% if paginator.previous_page %}
        <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path }}">Older</a>
        {% endif %}
        {% if paginator.next_page %}
        <a class="btn btn-outline-secondary" href="{{ paginator.next_page_path }}">Newer</a>
        {% endif %}
      </nav>   

    </div>

    {% include aside.html %}

  </div>

</main>

{% include footer.html %}