{% include header.html %}
<style type="text/css">
  pre {width:100%; overflow: auto; overflow-y:hidden;background: hsla(0, 0%, 97%, .7);border: 1px solid #ddd;padding: 1em 1.5em;display: block;-webkit-overflow-scrolling: touch;margin-bottom: 20px;}
  code {background: hsla(0, 0%, 97%, .7);}
</style>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <div class="blog-post border border-right-0 border-bottom-0  border-left-0">
        <h1 class="blog-post-title">{{ page.title }}</h1>
        <p class="blog-post-meta">{{ page.date | date: "%Y-%m-%d" }} by <a href="javascript:;">{{ page.author }}</a></p>
        {{ content }}
      </div>

      <nav class="blog-pagination">
        {% if page.previous %}
        <a class="btn btn-outline-primary" href="{{ page.previous.url }}">上一篇</a>
        {% endif %}
        {% if page.next %}
        <a class="btn btn-outline-primary" href="{{ page.next.url }}">下一篇</a>
        {% endif %}
      </nav>

    </div>

    {% include aside.html %}

  </div>

</main>

{% include footer.html %}
