{% include header.html %}
<style type="text/css">
  pre {width:100%; overflow: auto; overflow-y:hidden;background: hsla(0, 0%, 97%, .7);border: 1px solid #ddd;padding: 1em 1.5em;display: block;-webkit-overflow-scrolling: touch;margin-bottom: 20px;}
  code {background: hsla(0, 0%, 97%, .7);}
</style>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <div class="blog-post border border-right-0 border-bottom-0  border-left-0">
        <h1 class="blog-post-title">{{ page.title }}</h1>
        <p class="blog-post-meta">{{ page.date | date: "%Y-%m-%d" }} | <a href="javascript:;">{{ page.author }}</a></p>
        {{ content }}
      </div>

      <nav class="blog-pagination">
        {% if page.previous %}
        <a class="btn btn-outline-primary" href="{{ page.previous.url }}">上一篇</a>
        {% endif %}
        {% if page.next %}
        <a class="btn btn-outline-primary" href="{{ page.next.url }}">下一篇</a>
        {% endif %}
      </nav>

      <div id="vcomments"></div>
      <noscript> 为正常使用评论功能请激活JavaScript</noscript>

    </div>

    {% include aside.html %}

  </div>

</main>

<!-- 存储服务 -->
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.11.1/dist/av-min.js"></script>
<script src="//unpkg.com/valine@latest/dist/Valine.min.js"></script>

<script type="text/javascript">
  // 评论
  var GUEST = ['nick','mail','link'];
  var guest = 'nick,mail';
  guest = guest.split(',').filter(function (item) {
    return GUEST.indexOf(item)>-1;
  });
  new Valine({
      el: '#vcomments' ,
      appId: 'p8zTi79yoJB6TIU6N53HXLRJ-gzGzoHsz',
      appKey: 'BRrjnXAd4aDD5tPEVcryWSBA',
      placeholder: '欢迎你来评论吧~',
      avatar:'mp',
      guest_info:guest,
      pageSize:'10' || 10,
      visitor: true, // 阅读量统计
  });
</script>

{% include footer.html %}
